<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/posts"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ post?.title.rendered }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div *ngIf="post">
    <img [src]="post.media_url" [style.width]="'100%'">
    <div [innerHTML]="post.content.rendered" class="ion-padding"></div>
  </div>
 
</ion-content>
 
<ion-footer color="primary">
  <ion-toolbar>
    <ion-button expand="full" color="primary" (click)="openOriginal()">
      Abrir el Original
    </ion-button>
  </ion-toolbar>
</ion-footer>